<div class="flex flex-col w-full bg-white shadow">
    
  <%= render 'shared/localiza_pessoa' %>
  
  <div class="flex justify-between h-16 content-center items-center">
    <p class="w-full py-2 mx-4 text-lg text-gray-700">Listagem das pessoas</p>
    <a href='pessoas/new' class="w-[50px] mr-8">
      <svg fill="#4169e1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="40px" height="40px"><path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M37,26H26v11h-2V26H13v-2h11V13h2v11h11V26z"/></svg>
    </a>
  </div>

</div>

<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
</div>

<div class="container my-4 mx-auto px-4 md:px-12"><ul>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0 sm:gap-4">
        <%= render @pessoas %>
    </div></ul>
</div>

<div class="max-w-content flex flex-row flex-no-wrap my-5 mx-10 text-xs text-gray-700">
   <%== pagy_nav(@pagy) %>
</div>

</div>
</div>
