<div class="flex flex-col w-full bg-white shadow">
    
  <%= render 'shared/localiza_pessoa' %>
  
  <div class="flex justify-between h-16 content-center items-center">
    <p class="w-full py-2 mx-4 text-lg text-gray-700">Listagem das pessoas</p>
    <a href='pessoas/new' class="w-1/4">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z"/></svg>
    </a>
  </div>

</div>

<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
</div>

<div class="container my-12 mx-auto px-4 md:px-12"><ul>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1">
        <%= render @pessoas %>
    </div></ul>
</div>

<div class="max-w-content flex flex-row flex-no-wrap my-5 mx-10 text-xs text-gray-700">
   <%== pagy_nav(@pagy) %>
</div>

</div>
</div>
